<div class="content">
    <div class="container-fluid">
  
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="card card-user">
                    <div class="image">
                        <img src="/assets/img/background.jpg" alt="...">
                    </div>
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-white" src="/assets/img/faces/face-1.jpg" alt="...">
                            <h4 class="title">
                                <a href="/donor/edit" target="_blank">Got</a>
                            </h4>
                        </div>
                        <ul class="leftnav">
                            <li>
                                <p class="description">
                                    <a href="javascript:void(0)">สะสมบุญเดือนละ 300</a>
                                </p>
                            </li>
                            <li>
                                <p class="description">
                                    <a href="javascript:void(0)">สะสมบุญเดือนละ 1000</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <% dataedit.order.forEach(data => { %>
                                <h5><small>สถานะการชำระเงิน</small> <span class="alert alert-warning"><%=data.lov_payment_status%></span></h5>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
  
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">ข้อมูลโครงการบริจาค</h4>
                    </div>
                    <div class="content">
                        <form action="/order/save" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        
                                        <label>ชื่อ</label>
                                        <input class="form-control border-input" placeholder="กรุณากรอกชื่อ"  type="text" name="fname" value="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>สกุล</label>
                                        <input class="form-control border-input" placeholder="กรุณากรอกสกุล" type="text" name="lname" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>จุดตั้งรับ</label>
                                        <select class="form-control border-input" name="servicepoint">
                                            <% dataedit.order.forEach(data => { %>
                                            <option value="<%=data.lov_service_point_id%>"><%=data.lov_service_point%></option>
                                            <% }) %>
                                            <% dataedit.lov_ser_point.forEach(data => { %>
                                            <option value="<%= data.id%>"><%= data.text%></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <% dataedit.order.forEach(data => { %>
                                        <label>โครงการบริจาค</label>
                                        <input class="form-control border-input" placeholder="Company"  type="text" name="ordername" value="<%=data.order_name%>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ยอดร่วมทำบุญ (บาท)</label>
                                        <input class="form-control border-input" placeholder="กรุณากรอกตัวเลข" type="number" name="total" value="<%=data.total%>">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>โครงการ</label>
                                        <select class="form-control border-input" name="product_group">
                                            <option value="<%=data.product_group_id%>"><%=data.product_group%></option><% }) %>
                                            <% dataedit.sql_lov_product.forEach(data => { %>
                                                <option value="<%= data.id%>"><%= data.text%></option>
                                            <% }) %>
                                        </select>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ของที่ระลึกโครงการ</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="product1" value="1">โมลด์กรีนดารา</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="product2" value="2">ดอกบัว</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="product3" value="3">พระกริ่ง</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ประเภทการชำระเงิน</label>
                                        <select class="form-control border-input" name="paymenttype">
                                            <% dataedit.order.forEach(data => { %>
                                            <option value="<%=data.lov_transfer_type_id%>"><%=data.lov_transfer_type%></option>
                                            <% }) %>
                                            <% dataedit.sql_lov_payment.forEach(data => { %>
                                                <option value="<%= data.id%>"><%= data.text%></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <% dataedit.order.forEach(data => { %>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>จำนวนงวดการชำระเงิน</label>
                                        <input class="form-control border-input" placeholder="จำนวนงวดการชำระเงิน"  type="text" name="paymentperiod" value="<%=data.payment_period%>">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <a href="#" class="btn btn-default btn-fill">ตั้งค่างวดการชำระเงิน</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>สถานะการชำระเงิน</label>
                                        <select class="form-control border-input" name="paymentstatus">
                                            <option value="<%=data.lov_payment_status_id%>"><%=data.lov_payment_status%></option><% }) %>
                                            <% dataedit.sql_lov_payment_status_group.forEach(data => { %>
                                                <option value="<%= data.id%>"><%= data.text%></option>
                                            <% }) %>
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <% dataedit.order.forEach(data => { %>
                                        <label>หมายเหตุ</label>
                                        <textarea rows="2" class="form-control border-input" placeholder="Here can be your description" value="" name="comment"><%=data.comment%></textarea>
                                        <!-- <a class="btn btn-info btn-fill addnew" type="submit">บันทึก</a> -->
                                        <br><button class="btn btn-info btn-fill addnew"  type="submit" value="<%=data.id%>">บันทึก</button>
                                        <% }) %>  
                                    </div>
                                </div>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
  
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">รายละเอียดการชำระเงิน</h4>
                        <p class="category"></p>
                    </div>
  
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>งวดที่</th>
                                    <th>ยอดเงิน (บาท)</th>
                                    <th>วันที่แจ้งยอด</th>
                                    <th>วันที่จ่ายจริง</th>
                                    <th class="text-center">Transfer type</th>
                                    <th class="text-center">ต้องการใบร่วมบุญ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center"><span>1</span></td>
                                    <td><input class="form-control border-input" placeholder="" value="0" type="text"></td>
                                    <td><input class="form-control border-input" placeholder="" value="" type="text"></td>
                                    <td><input class="form-control border-input" placeholder="" value="" type="text"></td>
                                    <td>
                                        <select class="form-control border-input">
                                            <option>Cash</option>
                                            <option>Tranfer</option>
                                            <option>Credit</option>
                                        </select>
                                    </td>
                                    <td class="text-center" style="display:block;"><div class="checkbox" style="margin:0 auto">
                                        <label><input type="checkbox"></label>
                                    </div></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><span>2</span></td>
                                    <td><input class="form-control border-input" placeholder="" value="0" type="text"></td>
                                    <td><input class="form-control border-input" placeholder="" value="" type="text"></td>
                                    <td><input class="form-control border-input" placeholder="" value="" type="text"></td>
                                    <td>
                                        <select class="form-control border-input">
                                            <option>Cash</option>
                                            <option>Tranfer</option>
                                            <option>Credit</option>
                                        </select>
                                    </td>
                                    <td class="text-center" style="display:block;"><div class="checkbox" style="margin:0 auto">
                                        <label><input type="checkbox"></label>
                                    </div></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><span>3</span></td>
                                    <td><input class="form-control border-input" placeholder="" value="0" type="text"></td>
                                    <td><input class="form-control border-input" placeholder="" value="" type="text"></td>
                                    <td><input class="form-control border-input" placeholder="" value="" type="text"></td>
                                    <td>
                                        <select class="form-control border-input">
                                            <option>Cash</option>
                                            <option>Tranfer</option>
                                            <option>Credit</option>
                                        </select>
                                    </td>
                                    <td class="text-center" style="display:block;"><div class="checkbox" style="margin:0 auto">
                                        <label><input type="checkbox"></label>
                                    </div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row content-container">
                        <form method="get" action="" class="search-container"></form>
                            <div class="col-md-12 text-center">
                                <a class="btn btn-info btn-fill addnew" href="#">บันทึก</a>
                            </div>
                        </form>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
  </div>