<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">รายการบริจาค</h4>
                        <p class="category"></p>
                    </div>
                    <div class="row content-container">
                        <form method="get" action="/order" class="search-container">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>ค้นหา</label>
                                    <input class="form-control border-input" placeholder="ค้นหา ชื่อ" type="text" name="search" >                    
                                </div>
                            </div>
                        </form>
                            <div class="col-md-2 right">
                                <!-- <button class="btn btn-info btn-fill" type="submit">Search</button> -->
                                <a class="btn btn-info btn-fill addnew" href="/order/edit?id=0"
                                    target="_blank">เพิ่มการบริจาค</a>
                            </div>
                        
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>วันที่</th>
                                    <th>ชื่อ</th>
                                    <th>จุดตั้งรับ</th>
                                    <th>ผู้รับเรื่อง</th>
                                    <th>ผู้รับผิดชอบ</th>
                                    <th>สถานะ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <% data.order.forEach(data => { %>
                            <tbody>
                                <tr>
                                    <td>
                                        <%=data.create_date%>
                                    </td>
                                    <td> <%=data.order_name%></td>
                                    <td><%=data.lov_service_point_id%></td>
                                    <td><%=data.create_by%></td>
                                    <td><%=data.update_by%></td>
                                    <td><span class="text-success"><%=data.lov_payment_status%></span>
                                    </td>
                                    <td><a href="/order/edit?id=<%=data.id%>" class="btn btn-default" target="_blank">แก้ไข</a>
                                    </td>
                                    <td><a class="btn btn-warning btn-fill addnew" type="submit" onclick="deletedorder('<%= data.id %>')">ลบรายการบริจาค</a></td>
                                </tr>
                            </tbody>
                            <% }) %>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
