<div class="content">
  <div class="container-fluid">

      <div class="row">
          <div class="col-lg-3 col-md-5">
              <div class="card card-user">
                  <br />
                  <div class="content">
                      <div class="author">
                          <img class="avatar border-white" src="/assets/img/faces/face-report.jpg" alt="...">
                          <h4 class="title">
                              รายงานการบริจาค<br>
                          </h4>
                      </div>
                      <ul class="leftnav">
                          <li>
                              <p class="description">
                                  <a href="/report/donor">รายงานผู้ร่วมบุญ</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/report/order">รายงานการบริจาค</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/report/revenue">รายงานรายรับ</a>
                              </p>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="card card-user">
                  <br />
                  <div class="content" style="min-height:0;">
                      <div class="author" style="padding-top:50px">                                        
                          <h4 class="title">
                              รายงาน SMS<br>
                          </h4>
                      </div>
                      <ul class="leftnav">
                          <li>
                              <p class="description">
                                  <a href="/report/smssends">รายงานการส่ง SMS</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/report/smsreply">รายงานการตอบกลับ SMS</a>
                              </p>
                          </li>
                          <li>
                              <p class="description">
                                  <a href="/report/smssummary">รายงานสรุปการส่ง SMS</a>
                              </p>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-9 col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">รายการสมาชิกผู้ร่วมบุญ</h4>
                    <p class="category"></p>
                </div>
                <div class="row content-container">
                    <form method="get" action="/report/donor" class="search-container" onsubmit="return validateForm()">
                        <div class="col-md-4">
                            <div class="form-group" >
                                <label style="width:40px!important; text-align:left">วันที่</label>
                                <input class="form-control border-input datepicker " placeholder="วันที่รับล่าสุด" type="text" name="f_date" id="f_date" value="<%=f_date%>">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label style="width:40px!important; text-align:left">-</label>
                                <input class="form-control border-input datepicker" placeholder="วันที่รับล่าสุด" type="text" name="l_date" id="l_date" value="<%=l_date%>">
                            </div>
                        </div>
                        <div class="col-md-2 left">
                            
                            <button type="submit" class="btn btn-info btn-fill">ค้นหา</button>
                        </div>
                    </form>
                </div>
                <div class="content table-responsive table-full-width">
                    <div class="content right"> 
                        <form action="/report/donor" method="GET">
                            <input type="hidden" value="<%=f_date%>" id="f_date_search" name="f_date_search">
                            <input type="hidden" value="<%=l_date%>" id="l_date_search" name="l_date_search">
                            <input type="hidden" value="0" id="export_id" name="export_id">
                            <button class="btn" type="submit">
                                Export to excel
                            </button>
                        </form>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ชื่อ นามสกุล</th>
                                <th>โทรศัพท์</th>
                                <th>ไลน์</th>
                                <th>อีเมล์</th>
                                <th>วันที่</th>
                            </tr>
                        </thead>
                        <% data.forEach(data => { %>
                            <tbody>
                              <tr>
                              <td><%=data.firstname%> <%=data.lastname%></td>
                              <td><%=data.phone%></td>
                              <td><%=data.line%></td>
                              <td><%=data.email%></td>
                              <td><%=data.create_date%></td>
                            </tbody>
                        <% }) %>
                    </table>

                    <div class="content right">
                        <ul class="pagination">
                            <li><a href="#"><<</a></li>
                            <li><a href="#"><</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">></a></li>
                            <li><a href="#">>></a></li>
                        </ul>
                    </div>

                </div>
            </div>                                                        
        </div>

      </div>

  </div>
</div>


<script type="text/javascript">
    
    function validateForm() {
    var f_date = document.forms["Form"]["f_date"].value;
    var l_date = document.forms["Form"]["l_date"].value;
    if (f_date == null || f_date == "", l_date == null || l_date == "") {
      alert("Please Fill All Required Field");
      return false;
    }
  }    
  
</script>
