<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="card card-user">
                    <br />
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-white" src="assets/img/faces/face-stock.jpg" alt="...">
                            <h4 class="title">
                                สต๊อก<br>
                            </h4>
                        </div>
                        <ul class="leftnav">
                            <li>
                                <p class="description">
                                    <a href="/stock">ข้อมูลสต๊อก</a>
                                </p>
                            </li>
                            <li>
                                <p class="description">
                                    <a href="/stockcard">การเคลื่อนไหวสต๊อก</a>
                                </p>
                            </li>
                            <li>
                                <p class="description">
                                    <a href="/stockfulfill">รับเข้าสต๊อก</a>
                                </p>
                            </li>
                        </ul>
                    </div>                                
                </div>
                
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">การเคลื่อนไหวสต๊อก</h4>
                        <p class="category"></p>
                    </div>
                    <hr />
                    <div class="row content-container">
                        <form method="get" action="/stockcard" class="search-container">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>วันที่</label>
                                    <input class="form-control border-input" placeholder="15/03/2018" value="" type="text" name="f_date">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="width:40px!important; text-align:left">-</label>
                                    <input class="form-control border-input" placeholder="15/03/2018" value="" type="text" name="l_date">
                                </div>
                            </div>
                            <div class="col-md-2 left">
                                <input type="hidden" name="type" value="press">
                                <button class="btn btn-info btn-fill" name="">ค้นหา</button>
                            </div>
                        </form>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>รายการสต๊อก</th>
                                    <th>วันที่</th>
                                    <th>รับเข้า</th>
                                    <th>โอนออก</th>
                                    <th>คงเหลือ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach(function(data) { %>
                                    <tr>
                                        <td><span><%= data.name %></span></td>
                                        <td><span><%= data.purchase_date %></span></td>
                                        <td><span><%= data.qty_instock %></span></td>
                                        <td><span><%= data.qty_receive %></span></td>
                                        <td><span><%= data.qty %></span></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>                            
            </div>

        </div>

    </div>
</div>