<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-user"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <%= data.order_pepole_total[0].total %>
                                    <p>คน</p>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i> จำนวนผู้ร่วมบุญประจำวัน
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-wallet"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    345
                                    <p>รายการ</p>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i> รายการบริจาคที่ยังไม่เรียบร้อย
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-pulse"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    23
                                    <p>รายการ</p>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-pulse"></i> รายการแจ้งยอดที่ยังไม่เรียบร้อย
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-receipt"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    1,000
                                    <p>บาท</p>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-timer"></i> รายรับประจำวัน
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">รายการบริจาคที่อัพโหลด</h4>
                        <p class="category">รอเจ้าหน้าที่อัพเดทข้อมูลให้ครบถ้วน</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>วันที่</th>
                                    <th>จุดตั้งรับ</th>
                                    <th>ผู้รับเรื่อง</th>
                                    <th>สถานะ</th>
                                    <th>ข้อมูลการบริจาค</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.order.forEach(function(data) { %>
                                    <tr>
                                        <td>
                                            <%= data.create_date %>
                                        </td>
                                        <td><%= data.lov_service_point_id %></td>
                                        <td><%= data.create_by %></td>
                                        <td><%= data.lov_payment_status_id %></td>
                                        <td><span class="text-warning">ยังไม่เรียบร้อย</span></td>
                                        <td><a href="#" class="btn btn-warning">ยกเลิก</a></td>
                                        <td><a href="order-upload.html" class="btn btn-info" target="_blank">แก้ไข</a></td>
                                        <!-- <td><i class="ti-lock"></i></td> -->
                                    </tr>
                                <% }); %>
                                <!-- <tr>
                                    <td>
                                        27 ตุลาคม 2017
                                    </td>
                                    <td>ลานโพธิ์</td>
                                    <td>แม่ชีตา</td>
                                    <td></td>
                                    <td><span class="text-warning">ยังไม่เรียบร้อย</span></td>
                                    <td><a href="#" class="btn btn-warning">ยกเลิก</a></td>
                                    <td><a href="order-upload.html" class="btn btn-info" target="_blank">แก้ไข</a></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        27 ตุลาคม 2017
                                    </td>
                                    <td>ถ้ำอารยตารา</td>
                                    <td>แม่ชีตั๊ก</td>
                                    <td></td>
                                    <td><span class="text-warning">ยังไม่เรียบร้อย</span></td>
                                    <td><a href="#" class="btn btn-warning">ยกเลิก</a></td>
                                    <td><a href="order-upload.html" class="btn btn-info" target="_blank">แก้ไข</a></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        28 ตุลาคม 2017
                                    </td>
                                    <td>สำนักงาน</td>
                                    <td>วัชรี</td>
                                    <td>ทิพย์</td>
                                    <td><span class="text-warning">ยังไม่เรียบร้อย</span></td>
                                    <td><a href="#" class="btn btn-warning">ยกเลิก</a></td>
                                    <td><a href="order-upload.html" class="btn btn-info" target="_blank">แก้ไข</a></td>
                                    <td><i class="ti-lock"></i></td>
                                </tr>
                                <tr>
                                    <td>
                                        29 ตุลาคม 2017
                                    </td>
                                    <td>ถ้ำอารยตารา</td>
                                    <td>อินทร์ดารา</td>
                                    <td></td>
                                    <td><span class="text-warning">ยังไม่เรียบร้อย</span></td>
                                    <td><a href="#" class="btn btn-warning">ยกเลิก</a></td>
                                    <td><a href="order-upload.html" class="btn btn-info" target="_blank">แก้ไข</a></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        29 ตุลาคม 2017
                                    </td>
                                    <td>สำนักงาน</td>
                                    <td>อินทร์ดารา</td>
                                    <td></td>
                                    <td><span class="text-warning">ยังไม่เรียบร้อย</span></td>
                                    <td><a href="#" class="btn btn-warning">ยกเลิก</a></td>
                                    <td><a href="order-upload.html" class="btn btn-info" target="_blank">แก้ไข</a></td>
                                    <td></td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">รายการแจ้งยอดที่ยังไม่เรียบร้อย</h4>
                        <p class="category">รอเจ้าหน้าที่อัพเดทข้อมูลให้ครบถ้วน</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>วันที่</th>
                                    <th>ชื่อ นามสกุล</th>
                                    <th>เบอร์มือถือ</th>
                                    <th>จำนวนเงิน</th>
                                    <th>สถานะ</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        29 ตุลาคม 2017
                                    </td>
                                    <td>ศิริพร แก้วใจ</td>
                                    <td>085-1498118</td>
                                    <td>500</td>
                                    <td><span class="text-warning">ยังไม่ตรวจสอบ</span></td>
                                    <td><a href="#" class="btn btn-warning">ยกเลิก</a></td>
                                    <td><a href="receipt-upload.html" class="btn btn-info" target="_blank">แก้ไข</a>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        29 ตุลาคม 2017
                                    </td>
                                    <td>อัญสา โกเมน</td>
                                    <td>081-8143200</td>
                                    <td>300</td>
                                    <td><span class="text-warning">ยังไม่ตรวจสอบ</span></td>
                                    <td><a href="#" class="btn btn-warning">ยกเลิก</a></td>
                                    <td><a href="receipt-upload.html" class="btn btn-info" target="_blank">แก้ไข</a>
                                    </td>
                                    <td><i class="ti-lock"></i></td>
                                </tr>
                                <tr>
                                    <td>
                                        29 ตุลาคม 2017
                                    </td>
                                    <td>น.ส.ตุลารัตน์ นามธรรม</td>
                                    <td>097-0478656</td>
                                    <td>1,000</td>
                                    <td><span class="text-primary">รอการอนุมัติ</span></td>
                                    <td><a href="#" class="btn btn-warning">ยกเลิก</a></td>
                                    <td><a href="receipt-upload.html" class="btn btn-info" target="_blank">แก้ไข</a>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>